body {
    overflow-x: hidden;
}

.box {
    border: 7px solid orange;
    border-top-style: hidden;
    border-right-color: green;
    border-top: 7px solid #fff;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sky {
    height: 597px;
    background-image: url(sky.jpg);
    position: absolute;
    width: 1000vw;
    background-repeat: repeat-x;
    background-size: cover;
    animation: trackanimation 25s linear infinite;
}

.sun {
    background-image: url(sun.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25px;
    right: 50px;
}

.title {
    position: absolute;
    left: 410px;
    top: 0;
    font-size: 40px;
}

.happy {
    background-color: orange;
}

.independence {
    background-color: #fff;
}

.day {
    background-color: green;
}

.city {
    background-image: url(city.png);
    height: 260px;
    top: 346px;
    width: 1000vw;
    position: absolute;
    background-repeat: repeat-x;
    animation: trackanimation 25s linear infinite;
}

.road {
    background-image: url(road.jpg);
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0px;
    width: 1000vw;
    height: 20vh;
    animation: trackanimation 25s linear infinite;
}

.car {
    background-image: url(car.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 543px;
    left: 529px;
}

.wheel {
    position: absolute;
    animation: wheelanimation linear 1s infinite;
}

.wheel1 {
    background-image: url(wheel.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 63px;
    height: 64px;
    bottom: 56px;
    left: 813px;
}

.wheel2 {
    background-image: url(wheel.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 63px;
    height: 64px;
    bottom: 55px;
    left: 568px;
}

.orange-border {
    background-color: orange;
    width: 10px;
    height: 96vh;
    z-index: 10;
    position: absolute;
}

.flag {
    background-image: url(flag.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 134px;
    left: 801px;
}

/* Wheel animation */
@keyframes wheelanimation{
    100% {
        transform: rotate(360deg);
    }
}

/* Moving the track backwards */
@keyframes trackanimation {
    100% {
        transform: translate(-500vw);
    }
}